#col{
    transition: 1s;
}
#col:hover{
    transform: translateY(-10px);
}
a:hover{
    transform: translatey(-10px);
    transition: 1s;
    
}
#footerp{
    transition: 1s;
}

#footerp:hover{
    transform: translateY(-10px);
}
.owl-nav .owl-prev{
    position: absolute;
    font-size: 80px !important;
    justify-content: center;
    left:0;
    top: 20%;
}
.owl-nav .owl-next{
    position: absolute;
    font-size: 80px !important;
    justify-content: center;
    right:0;
    top: 20%;
}


